body {
  background: rgba(63, 57, 77, 0.1);
  display: flex;
  flex-direction: column;
}
.main-header {
    background: url(../img/showcase.jpg);
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;

}

.primary-overlay {
    background: rgba(63, 57, 77, 0.7);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.scroll-icon{
    position: sticky;
    margin-top: 10%;
    left: 47%;
    opacity: 0.5;
    font-size: large;
}

.main-header .showcase {
    padding-top: 110px;
}

/* ----- */
.side-brand{
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 38px;
    text-align: center;
}
.nav-wrapper .divider{
    height: 50px;
}

.section-services{
    padding-top: 0px;
}

.section-services .col{
  min-height: 300px;
  padding-top: 30px;
}

.section-about{
  min-height: 600px;
  padding-top: 0px;
}

#style-about{
  padding-bottom: 50px;
  margin-bottom: 50px;
}
